section {
  padding-top: 100px;
  background-color: #343838;
  height: 94vh;
  .name {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    color: #00DFFC;
    font-size: 70px;
    &.hidden {
    display: none;
    }
  }
}

.playerNum {
  position: relative;
  height: 367px;
  width: 367px;
  margin: 35px auto;
  .triangle {
	width: 0;
	height: 0;
    .number {
      position: absolute;
      color: #343838;
      font-size: 50px;
    }
    .number1 { 
      top: 105px;
      left: -65px;
    }
    .number2 {
      top: 105px;
      right: -65px;
    }
    .number3 {
      bottom: 105px;
      left: -65px;
    }
    .number4 {
      bottom: 105px;
      right: -65px;
    }
  }
  .triangle1 {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
	border-bottom: 180px solid #00DFFC;
	border-left: 180px solid transparent;
  }
  .triangle2 {
    position: absolute;
    right: 0;
    display: inline-block;
	border-bottom: 180px solid #00B4CC;
	border-right: 180px solid transparent;
  }
  .triangle3 {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
	border-top: 180px solid #00B4CC;
	border-left: 180px solid transparent;
  }
  .triangle4 {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
	border-top: 180px solid #00DFFC;
	border-right: 180px solid transparent;
  }
  .rectangle {
    background-color: #00DFFC;
    position: absolute;
    border-top: 0px;
    border-right: 0px;
    height: 180px;
    color: #343838;
    text-align: center;
    line-height: 180px;
    font-size: 40px;
    &:hover {
      background-color: #75FF75;
      box-shadow: 0 0 10px beige;
    }
  }
  .altBackground {
    background-color: #00B4CC;
  }
}